<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./lib/index.css">
  <script src="./lib/vue.js"></script>
</head>

<body>
  <div id="app">
    <!-- 头部开始 -->
    <header class="app-header">
      <h1>To Do List</h1>
    </header>
    <!-- 头部结束 -->

    <div class="task">
      <label for="">添加任务:</label>
      <input class="taskinfo" type="text" placeholder="请在此添加任务，并按enter确定" v-model="taskInfo">
    </div>
    <div class="tablist">
      <ul>
        <li v-for="(tab,index) in tabArray" :class="{changeback:tab.isSelect}" @click="changeTab(tab.type)"><a href="javascript:;">{{tab.name}}</a></li>
      </ul>
    </div>

    <all-box :newlist="taskInfo" :is="currentView" keep-alive></all-box>
    <!-- <finish-box></finish-box> -->
    <!-- <unfinish-box></unfinish-box> -->


    <!-- 底部开始 -->
    <footer class="app-footer">
      <address>&copy;xuyazhen</address>
    </footer>
    <!-- 底部结束 -->
  </div>

  <!-- 组件 -->
  <template id="all-box">
    <ul>
      <li v-for="(item,index) in all" ::key="item.time">{{ item.value }} ====> {{ item.time }} <button type="button"
          value="完成" @click="finishSubmit(item,index)">完成</button><button @click="deleteSubmit(item,index)">删除</button></li>
    </ul>
  </template>
  <template id="finish-box">
    <ul>
      <li v-for="item in finish"> {{ item.value }} ====> {{ item.time }} </li>
    </ul>

  </template>
  <template id="unfinish-box">
    <ul>
      <li v-for="item in unfinish"> {{ item.value }} ====> {{ item.time }} </li>
    </ul>
  </template>



  <script>
    Vue.component('allBox', {
      name: 'all',
			data() {
				return {
					// all: this.all
				}
			},
			props: {
				all: {
					type: Array
				},
				addfinish: {
					type: Function
				}
			},
			methods: {
				addall(temp) {
					console.log(temp)
					this.all.unshift(temp) // 这里可以直接操作 props中的值
				},
				finishSubmit(item, index) {
					if (this.addfinish) {
						this.addfinish(item)

					}
					this.all.splice(index, 1)

				},
				deleteSubmit(item, index) {
					this.all.splice(index, 1)
				}
			},
			template: '#all-box'
    })
    Vue.component('finishBox', {
			name: 'finish',

			data() {
				return {
					finish: this.finish
				}
			},
			props: {
				finish: {
					type: Array
				}
			},
			methods: {
				addfinish(temp) {
					this.finish.unshift(temp)
				}
			},
			template: '#finish-box'
		})
    Vue.component('unfinishBox', {
      name: 'unfinish',

			data() {
				return {
					unfinish: this.unfinish
				}
			},
			props: {
				unfinish: {
					type: Array
				}
			},
			template: '#third'
    })

    var vm = new Vue({
			el: '#app',
			data: {
				all: [{
					value: '所有任务一',
					time: new Date().getTime()
				},
				{
					value: '所有任务一',
					time: new Date().getTime()
				}],
				finish: [{
					value: '已经完成一',
					time: new Date().getTime()
				}],
				unfinish: [{
					value: '未完成一',
					time: new Date().getTime()
				}],
				cutterView: 'first',
				newValue: ''
			},
			methods: {
				changeCutterView(view) {
					this.cutterView = view
				},
				addall() {
					let temp = {}
					temp.value = this.newValue
					temp.time = new Date().getTime()
					this.all.unshift(temp)
					// this.$refs.child.addall(temp)
					this.newValue = ''
				},
				addfinish(temp) {
					alert('子组件调用我了 我把它传过来的数据放到finish 中')
					// console.log(temp);
					this.finish.unshift(temp)
				},
				bus(item) {
					this.$refs.child.addfinish(item)
				}

			}

		})
  </script>
</body>

</html>